
/*
 *   COMMON
 */

div.admin {
    border: 1px #999999 solid;
    background-color: #f8f8f8;
    padding: 10px;
    margin: 0 0 10px 0;
    overflow: auto;
}

div.admin#footer {
    border: 1px #999999 solid;
    border-top: none;
    background-color: transparent;
    text-align: right;
    padding: 5px;
    overflow: auto;
}

div.admin h1 {
    margin-bottom: 10px;
    color: #000000;
    font-weight: bold;
}

/*
 *   POPUP MESSAGES
 */

div.message {
    margin-bottom: 10px;
}

div.message {
    border: 1px #999999 solid;
}

div.message img {
    padding: 2px;
    margin-right: 5px;
}

div.message#info {
    color: #005500;
    background-color: #aaccaa;
}

div.message#warning {
    color: #666000;
    background-color: #fff888;
}

div.message#error {
    color: #cc0000;
    background-color: #ffcccc;
}

/*
 *   ADMIN MENU
 */

ul {
    margin-bottom: 10px;
    font-size: 8pt;
}

ul li {
    margin-right: 5px;
    background-color: transparent;
    display: inline;
}

ul li.active {
    background-color: #f8f8f8;
}

ul li a {
    border: 1px #999999 solid;
    font-size: 9pt;
    padding: 2px;
}

ul li a:hover {
    background-color: #f8f8f8;
    border: 1px #000000 solid;
}

/*
 *   TABLES
 */

table {
    width: 100%;
    border: 1px #999999 solid;
    border-spacing: 0px;
}

table tr td {
    padding: 3px;
    border-bottom: 1px #cccccc solid;
}

table tr.header td {
    background-color: #dddddd;
    border-bottom: 1px #aaaaaa solid;
}

table tr.data0 td {
    background-color: #eeeeee;
}

table tr.data1 td {
    background-color: #dddddd;
}

/*
 *   FORMS
 */

form {
    margin-bottom: 10px;
}

input {
    margin-bottom: 4px;
    margin-right: 4px;
}