
/*
 *   PUBLIC
 */

* {
    margin: 0;
    padding: 0;
    font-family:  helvetica,arial,freesans,clean,sans-serif,"new century schoolbook",serif;
    font-size: 11pt;
    color: #000000;
}

body {
    background-color: #ffffff;
}

a {
    text-decoration: none;
    color: #333333;
}

a:hover {
    color: #000000;
}

img {
    border: 0;
    vertical-align: middle;
}

/*
 *   COMMON
 */

div.container {
    border: 1px #9f9f9f solid;
    background-color: #f8f8f8;
    padding: 10px;
    overflow: auto;
}

div.container h1 {
    margin-bottom: 10px;
    color: #787878;
    font-weight: bold;
}

div.container p {
    margin-bottom: 10px;
    color: #787878;
}

div.container p a {
    color: #9f9f9f;
}

div.wrapper {
    /* wrapper for floating images */
    overflow: auto;
    margin-bottom: 10px;
}

div.header {
    background-color: transparent;
    background-image: url(header.png);
    background-repeat: no-repeat;
    height: 50px;
    overflow: auto;
}

div.header p {
    font-family:  "Courier";
    margin: 10px 0 0 75px;
}

div.header p * {
    font-family:  "Courier";
}

div.header a {
    font-size: 20pt;
    color: #9f9f9f;
}

div.footer {
    background-color: transparent;
    background-image: url(footer.png);
    background-repeat: no-repeat;
    background-position: right bottom; 
    height: 50px;
    text-align: right;
    overflow: auto;
}

div.footer p {
    font-family:  "Courier";
    margin: 15px 20px 0 0;
    color: #9f9f9f;
}

div.footer p * {
    font-family:  "Courier";
}

div.footer a {
    color: #9f9f9f;
}

/*
 *   GALLERIES
 */

div.gallery {
    background-image: url(gallery.gif);
    background-color: transparent;
    margin: 3px;
    float: left;
    width: 250px;
    height: 200px;
    overflow: hidden;
    text-align: center;
}

div.gallery img.thumbnail {
    margin: 10px auto 0 auto;
    border: 1px #9f9f9f solid;
}

div.gallery h1 {
    color: #686868;
    margin: 0;
    font-weight: normal;
}

div.gallery h2 {
    color: #999999;
    font-size: 7pt;
    font-weight: normal;
    font-style: italic;
}

div.gallery p {
    display: none;
}

/*
 *   GALLERY IMAGES
 */

div.image {
    background-image: url(image.gif);
    background-color: transparent;
    margin: 3px;
    float: left;
    width: 200px;
    height: 180px;
    overflow: hidden;
    text-align: center;
}

div.image img.thumbnail {
    margin: 10px auto 0 auto;
    border: 1px #9f9f9f solid;
}

div.image h1 {
    color: #787878;
    font-weight: normal;
}

div.image h2 {
    color: #000000;
    font-size: 7pt;
    font-weight: normal;
    font-style: italic;
}

div.image p {
    display: none;
}
