* {
    margin: 0;
    padding: 0;
    font-family:  georgia,"new century schoolbook", serif;
    font-size: 11pt;
    color: #000000;
}

body {
    background-color: #ffffff;
}

/* TEXT */

a {
    text-decoration: none;
    color: #333333;
}

a:hover {
    color: #000000;
}

/* IMAGE */

img {
    border: 0;
    vertical-align: middle;
}

/* GALLERY: COMMON */

div.container {
    border: 1px #3c3824 solid;
    background-color: #252525;
    padding: 10px;
    overflow: auto;
}

div.container h1 {
    color: #bdb182;
    font-weight: bold;
}

div.container p {
    margin-bottom: 10px;
    color: #a49a71;
}

div.header {
    background-color: #f8f8f8;
    border: 1px #4b4b4b solid;
    padding: 5px;
    overflow: auto;
}

div.footer {
    border: 1px #3c3824 solid;
    border-top: none;
    background-color: #f8f8f8;
    text-align: right;
    padding: 5px;
    overflow: auto;
}

/* GALLERY: GALLERIES */

div.gallery {
    background-image: url(gallery.gif);
    background-color: transparent;
    margin: 3px;
    float: left;
    width: 250px;
    height: 200px;
    overflow: hidden;
    text-align: center;
}

div.gallery img.thumbnail {
    margin: 10px auto 0 auto;
    border: 1px #000000 solid;
}

div.gallery h1 {
    color: #222222;
    font-weight: bold;
}

div.gallery h2 {
    /* not in use */
}

div.gallery p {
    color: #222222;
    display: none;
}

/* GALLERY: IMAGES */

div.image {
    background-image: url(image.gif);
    background-color: transparent;
    margin: 3px;
    float: left;
    width: 200px;
    height: 180px;
    overflow: hidden;
    text-align: center;
}

div.image img.thumbnail {
    margin: 10px auto 0 auto;
    border: 1px #000000 solid;
}

div.image h1 {
    color: #222222;
    font-weight: bold;
}

div.image h2 {
    color: #000000;
    font-size: 7pt;
    font-weight: none;
    font-style: italic;
}

div.image p {
    color: #222222;
    display: none;
}
