* {
    margin: 0;
    padding: 0;
    font-family:  georgia,"new century schoolbook", serif;
    font-size: 11pt;
    color: #000000;
}

/* TEXT */

a {
    text-decoration: none;
    color: #333333;
}

a:hover {
    color: #000000;
}

/* IMAGE */

img {
    border: 0;
    vertical-align: middle;
}

/* FORM */

form {
    margin-bottom: 10px;
}

/* TABLE */

table {
    width: 100%;
    border: 1px #345921 solid;
    border-spacing: 0px;
}

table tr td {
    padding: 3px;
    border-bottom: 1px #cccccc solid;
}

table tr.header td {
    background-color: #dddddd;
    border-bottom: 1px #aaaaaa solid;
}

table tr.data0 td {
    background-color: #eeeeee;
}

table tr.data1 td {
    background-color: #dddddd;
}

/* LIST */

ul {
    margin-bottom: 10px;
}

li {
    margin-right: 10px;
    padding: 3px;
    border: 1px #000000 solid;
    background-color: #999999;
    display: inline;
    font-weight: bold;
}

/* DIV */

div.settings {
    border: 1px #000000 solid;
    background-color: #999999;
    padding: 10px;
    margin: 0 0 10px 0;
    overflow: auto;
}

div.gallery {
    border: 1px #3c3824 solid;
    background-color: #4F4A2F;
    padding: 10px;
    overflow: auto;
}

div.footer {
    border: 1px #3c3824 solid;
    border-top: none;
    background-color: #756E45;
    text-align: right;
    padding: 5px;
    overflow: auto;
}

div.gallery h1 {
    color: #bdb182;
    font-weight: bold;
}

div.gallery h3 {
    color: #000000;
    font-size: 7pt;
    font-weight: none;
    font-style: italic;
}

div.gallery p {
    margin-bottom: 10px;
    color: #a49a71;
}

div.gallery_thumbnail {
    /* border: 1px #3c3824 solid; */
    /* background-color: #756E45; */
    background-image: url(gallery_background.gif);
    background-color: transparent;
    margin: 3px;
    float: left;
    width: 250px;
    height: 200px;
    overflow: hidden;
    text-align: center;
}

div.gallery_thumbnail img {
    margin: 10px auto 0 auto;
    border: 1px #000000 solid;
}

div.image_thumbnail {
    /* border: 1px #3c3824 solid; */
    /* background-color: #756E45; */
    background-image: url(image_background.gif);
    background-color: transparent;
    margin: 3px;
    float: left;
    width: 200px;
    height: 180px;
    overflow: hidden;
    text-align: center;
}

div.image_thumbnail img {
    margin: 10px auto 0 auto;
    border: 1px #000000 solid;
}

div.image_thumbnail p {
    color: #222222;
}

div.info {
    margin-bottom: 10px;
    color: #009900;
    background-color: #cccccc;
    border: 1px #009900 solid;
}

div.warning {
    margin-bottom: 10px;
    color: #aeb00a;
    background-color: #cccccc;
    border: 1px #aeb00a solid;
}

div.error {
    margin-bottom: 10px;
    color: #ff0000;
    background-color: #cccccc;
    border: 1px #ff0000 solid;
}