* {
    margin: 0;
    padding: 0;
    font-family:  georgia,"new century schoolbook", serif;
    font-size: 11pt;
    color: #000000;
}

/* FORM */

form {
    margin-bottom: 10px;
}

/* TABLE */

table {
    width: 100%;
    border: 1px #345921 solid;
    border-spacing: 0px;
}

table tr td {
    padding: 3px;
}

table tr.header td {
    background-color: #eeeeee;
    border-bottom: 1px #aaaaaa solid;
}

table tr.data0 td {
    background-color: #cccccc;
}

table tr.data1 td {
    background-color: #aaaaaa;
}

/* LIST */

ul {
    border: 1px #00ff00 dotted;
}

li {
    border: 1px #0000ff dotted;
    display: inline;
}

/* DIV */

div.settings {
    background-color: #0000ff;
    padding: 10px;
    margin: 0 0 10px 0;
    overflow: auto;
}

div.gallery {
    background-color: #00ff00;
    padding: 10px;
    overflow: auto;
}

div.gallery h1 {
    color: #333333;
    font-weight: bold;
}

div.gallery p {
    color: #ff00ff;
}

div.thumbnail {
    background-color: #ff0000;
    border: 1px #000000 solid;
    margin: 3px;
    float: left;
    width: 200px;
    height: 180px;
    overflow: hidden;
    text-align: center;
}

div.thumbnail img {
    margin: 10px auto 0 auto;
    border: 1px #ffffff solid;
}

div.thumbnail p {
    color: #00f0ff;
}

div.info {
    margin-bottom: 10px;
    color: #009900;
    background-color: #cccccc;
    border: 1px #009900 solid;
}

div.error {
    margin-bottom: 10px;
    color: #ff0000;
    background-color: #cccccc;
    border: 1px #ff0000 solid;
}